.sidebar-wrapper {
  width: 200px;

  .sidebar {
    z-index: 100;
    width: 200px;
    overflow: hidden;
    box-shadow: 1px 0 20px 0 #3f4d67;
    height: 100vh;
    position: fixed;
    display: flex;
    align-content: space-between;

    .logo {
      color: #fafafa;
      padding: 15px 10px;
      font-size: 18px;
      display: flex;
      align-items: center;

      img {
        background-color: #fafafa;
        margin-right: 10px;
        width: 40px;
        height: 40px;
      }
    }

    .side-footer {


      img {
        width: 130px;
        margin: 20px;
      }
    }
  }
}
