@import '~antd/lib/style/color/colors.less';
@import "~antd/dist/antd.less";

@body-background: #f4f7fa;
@primary-color: #47537a; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: #000000; // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers
@layout-header-background: #3F4D67;
@menu-item-color: #a9b7d0;
@menu-bg: @layout-header-background;
@menu-popup-bg: @layout-header-background;;
@menu-highlight-color: #cbd7ec;
@menu-inline-submenu-bg: rgb(56 68 91);
@menu-item-group-title-color: #fff;
@menu-item-active-bg: @primary-color;


.brand-logo {
  background-color: #fafafa;
}


.ant-card {
  box-shadow: rgba(69, 90, 100, 0.08) 0px 1px 20px 0px;
}

h3.ant-typography, .ant-typography h3 {
   margin-bottom: 0.5em;
   color: #888;
   font-weight: 200 !important;
   font-size: 30px;
   line-height: 1.35;
   text-shadow: 4px 7px 6px #a1a5ac;
 }

.@{typography-prefix-cls} {

  font-weight: 200;

  &&-primary {
    color: @primary-color;
  }
}

.button-area{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 0.3s;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  outline: 0;
   &&:hover {
     border-color: #40a9ff;
   }

  && .icon {
     margin-top: 24px !important;
  }
  && .ant-space-item {
     margin: 0 !important;
  }
  && .title-text {
    margin: 22px 0 4px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
  }
  && .hint-text {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
  }
}

.ant-upload-drag,.button-area {
  padding: 24px;
}

.ant-upload-list.ant-upload-list-text {
  display: none;
}

.new-interview-items {
  .ant-upload-drag, .button-area {
    height: 180px;
  }
  .ant-col {
    margin-bottom: 20px;
  }
}
