@import (css) url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');

.help {
  font-family: 'Vazirmatn', sans-serif;

  .ant-image {
    margin: 20px auto;
  }

  .image-wrapper {
    display: flex;
  }
}