.report {
  //position: fixed;
  //top: 0;
  //left: 0;
  //right: 0;
  //background-color: #fafafa;
  //z-index: 100;
  //display: block;
  h1, h2, h3, h4 {
    color: #000;
  }

  .face-samples {
    display: flex;
    width: 100%;

    & > div {
      padding: 5px;
      border: dotted 1px;
      text-align: center;

      img {
        width: 100%;
      }
    }
  }

  .table-view {
    display: flex;
    width: 100%;

    & > div {
      width: 50%;
    }
  }

  .r-head {
    display: flex;

    .r-titles {
      padding-top: 20px;


    }

    img {
      width: 200px;
      padding-right: 20px;
    }
  }

  .sign {
    text-align: right;
    height: 400px;
    img {
      max-width: 30%;
      max-height: 100px;
    }
  }
}
